html body{
    background-color: #bfbfbf;
}
#hplogo{
    height: auto;
}

#SivCob{
    color: white !important;
}
#belowsb a{
color: #00b4f5 !important;
}

#footer{
    background-color: #bfbfbf;  
}

.fbar,.M6hT6,.As6eLe{
    background-color: #bfbfbf;  

}

.gNO89b:hover{
    background-color: rgba(151, 151, 151, 0.806) !important;
}
.RNmpXc:hover{
    background-color: rgba(151, 151, 151, 0.806) !important;
}
.fbar a{
    color: white !important;
}

.MjjYud{
    border-radius: 10px !important;
    overflow: hidden !important;
}
.g{
    padding: 10px !important;
}
#slim_appbar{
    background-color: #bfbfbf;
}